---
title: "Stats Card"
created_at: "2025-01-22"
topics: ["svelte","ux_ui","date_time"]
excerpt: "A formatted countdown component"
seo_type: "article"
---

## Overview 

How long has this been going on?

wibbly wobbly timey wimey